# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/

# Environment files
.env
.env.*
!.env.example

# .NET
backend/bin/
backend/obj/

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db